.home-contents {
    position: relative;
    margin: 10px 0 10px 0;
    width: 100%;
    overflow: hidden;
}

.top-recommend {
    position: relative;
    overflow: hidden;
}

.top-recommend .recommend-content {
    margin-right: -2px;
    height: auto;
}

.recommend-content li {
    width: 50%;
    float: left;
    margin-bottom: 1px;
    line-height: 20px;
}

.recommend-content li a {
    display: block;
    background-color: #fff;
    margin-right: 1px;
    padding: 5px 20px 5px 140px;
}

.recommend-content li a:hover {
    background-color: #F8FCFE;
    color: #3071A9;
    text-decoration: none;
}

.recommend-content li img {
    float: left;
    margin: 8px 0 0 -120px;
    max-width: 100px;
    max-height: 70px;
}

.recommend-content li h3 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-decoration: none;
    color: #428BD1;
}

.recommend-content li .summray {
    overflow: hidden;
    height: 40px;
    color: #999999;
    margin: 0 0 10px;
}
