.sosout-header {
    position: relative;
    width: 100%;
}

.header-navbar {
    position: relative;
    width: 100%;
    height: 52px;
    background-color: #292929;
    opacity: 0.9;
    /* IE 4-9 */
    filter: alpha(opacity=90);
    /*This works in IE 8 & 9 too*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    /*IE4-IE9*/
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=90);
}

.header-navbar .header-navs {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    font-size: 18px;
}

.header-navbar .header-navs > li {
    position: relative;
    float: left;
}

.header-navbar .header-navs > li.selected {
    background-color: #428bca;
    height: 49px;
    color: #fff;
    border-bottom: 3px solid #257cc7;
}

.header-navbar .header-navs > li > a {
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.header-navbar .header-navs > li > a:hover {
    color: #428bca;
}

.header-navbar .header-navs > li.selected > a:hover {
    background-color: #428bca;
    height: 49px;
    color: #fff;
    border-bottom: 3px solid #257cc7;
}

.sosout-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sosout-footer .footer-ad {
    background-color: #428bca;
    height: 8px;
    min-width: 1180px;
}

.sosout-footer .footer-navbar {
    height: 50px;
    background-color: #333;
}

.footer-navs {
    color: #aaa;
    line-height: 50px;
    font-size: 14px;
}

.footer-navs .beian {
    font-size: 14px;
    color: #aaa;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
}

.footer-navs .beian img {
    float: left;
    margin-right: 5px;
}

.footer-navs .beian:hover {
    color: #ddd;
}

.sosout-adr {
    position: fixed;
    right: 0;
    top: 80px;
}


/* 通用样式 */

.menu,
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    height: 52px;
}

.menu li {
    min-width: 160px;
}

.menu > li {
    display: block;
    float: left;
    position: relative;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #808080;
    display: block;
    font-size: 14px;
    line-height: 52px;
    padding: 0 25px;
    text-decoration: none;
}


/* 悬停时的样式 */

.menu li:hover {
    background-color: #1c1c1c;
    background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
    background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
    background: -o-linear-gradient(#1c1c1c, #1b1b1b);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
    background: linear-gradient(#1c1c1c, #1b1b1b);
}

.menu li:hover > a {
    color: #0da385;
}

.sosout-main {
    position: relative;
    margin: 100px auto 450px;
    width: 100%;
}

.index-ul li {
    float: left;
    width: 235px;
    text-align: center;
}

.index-ul li .ul-icon {
    width: 125px;
    height: 125px;
    display: block;
    margin: 0 auto;
}

.index-ul .ul-icon img {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: all .8s ease-in;
    -moz-transition: all .8s ease-in;
    -ms-transition: all .8s ease-in;
    -o-transition: all .8s ease-in;
    transition: all .8s ease-in;
}

.index-ul .ul-icon img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.index-ul .ul-title {
    margin-top: 25px;
}

.index-ul .ul-title a {
    font-weight: 100;
    font-size: 20px;
    color: #5f6060;
    letter-spacing: 2px;
    text-decoration: none;
}
