html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 50px;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: .01rem dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: .01rem solid #c0c0c0;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
td,
th {
  padding: 0;
}
.body-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bg-f4f4f4 {
  background-color: #f8f8f8;
}
.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f8f8f8;
}
.wrapper.bg-fff {
  background-color: #fff;
}
.scroller {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 7.5rem;
  left: 50%;
  margin-left: -3.75rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  padding-bottom: .3rem;
}
.main-body {
  position: relative;
  background-color: #f8f8f8;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
.dropload-load {
  position: relative;
  left: 50%;
  width: 100%;
  height: .8rem;
  visibility: hidden;
  line-height: .8rem;
  font-size: .3rem;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.dropload-load a {
  margin-top: 16px;
  display: inline-block;
  color: #757575;
  line-height: 1.5rem;
}
.dropload-load a em {
  color: #0069D6;
  text-decoration: underline;
  font-style: normal;
}
.dropload-load .loading {
  display: inline-block;
  height: .3rem;
  width: .3rem;
  border-radius: 100%;
  margin: .2rem;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate .75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
.wy-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999999;
  display: none;
}
.wy-loading .happy {
  height: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation-name: transfer;
  animation-name: transfer;
}
.wy-loading .happy.red {
  -webkit-animation-name: r-transfer;
  animation-name: r-transfer;
}
.wy-loading .happy,
.wy-loading .floor {
  position: absolute;
  width: 30px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.wy-loading .floor {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  height: 8px;
  margin-top: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  -webkit-animation-name: floorshadow;
  animation-name: floorshadow;
}
.wy-loading:after {
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 10px;
  -webkit-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  width: 80px;
  color: #999;
  text-align: center;
  content: "正在加载";
}
@keyframes floorshadow {
  0%,
  50%,
  100% {
    width: 15px;
    height: 4px;
  }
  25%,
  25.1%,
  75%,
  75.1% {
    width: 30px;
    height: 8px;
  }
}
@-webkit-keyframes floorshadow {
  0%,
  50%,
  100% {
    width: 15px;
    height: 4px;
  }
  25%,
  25.1%,
  75%,
  75.1% {
    width: 30px;
    height: 8px;
  }
}
@keyframes transfer {
  0% {
    background-color: #0091fe;
    margin-top: -100px;
  }
  25% {
    margin-top: 0;
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25.1% {
    border-radius: 50%;
    margin-top: 0;
  }
  25.1%,
  50% {
    background-color: #38a4f5;
  }
  50% {
    margin-top: -100px;
  }
  50%,
  75% {
    border-radius: 50%;
  }
  75%,
  75.1% {
    margin-top: 0;
  }
  75.1% {
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75.1%,
  100% {
    background-color: #0091fe;
  }
  100% {
    margin-top: -100px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes transfer {
  0% {
    background-color: #0091fe;
    margin-top: -100px;
  }
  25% {
    margin-top: 0;
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25.1% {
    border-radius: 50%;
    margin-top: 0;
  }
  25.1%,
  50% {
    background-color: #38a4f5;
  }
  50% {
    margin-top: -100px;
  }
  50%,
  75% {
    border-radius: 50%;
  }
  75%,
  75.1% {
    margin-top: 0;
  }
  75.1% {
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75.1%,
  100% {
    background-color: #0091fe;
  }
  100% {
    margin-top: -100px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes r-transfer {
  0% {
    background-color: red;
    margin-top: -100px;
  }
  25% {
    margin-top: 0;
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25.1% {
    border-radius: 50%;
    margin-top: 0;
  }
  25.1%,
  50% {
    background-color: #fe5e3e;
  }
  50% {
    margin-top: -100px;
  }
  50%,
  75% {
    border-radius: 50%;
  }
  75%,
  75.1% {
    margin-top: 0;
  }
  75.1% {
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75.1%,
  100% {
    background-color: red;
  }
  100% {
    margin-top: -100px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes r-transfer {
  0% {
    background-color: red;
    margin-top: -100px;
  }
  25% {
    margin-top: 0;
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25.1% {
    border-radius: 50%;
    margin-top: 0;
  }
  25.1%,
  50% {
    background-color: #fe5e3e;
  }
  50% {
    margin-top: -100px;
  }
  50%,
  75% {
    border-radius: 50%;
  }
  75%,
  75.1% {
    margin-top: 0;
  }
  75.1% {
    border-radius: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75.1%,
  100% {
    background-color: red;
  }
  100% {
    margin-top: -100px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-overlay-fff.modal-overlay-visible,
.modal-overlay.modal-overlay-visible {
  visibility: visible;
  opacity: 1;
}
.modal-overlay {
  position: absolute;
  left: 50%;
  top: 0;
  width: 7.5rem;
  margin-left: -3.75rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}
.modal-overlay-fff {
  position: absolute;
  left: 50%;
  top: 0;
  width: 7.5rem;
  margin-left: -3.75rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 106000;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: absolute;
  z-index: 11000;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  display: none;
  opacity: 0;
}
.modal.modal-in {
  display: block;
  opacity: 1;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.modal-from-bottom {
  position: absolute;
  z-index: 11000;
  left: 50%;
  bottom: 100%;
  background-color: #fff;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
.modal-from-bottom.modal-in {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.dialog-alert {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 106001;
  top: 50%;
  left: 50%;
  font-size: .3rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: .2rem;
  min-width: 3rem;
  border-radius: 4px;
  width: auto;
  word-break: keep-all;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dialog-alert.dialog-on {
  opacity: 1;
  visibility: visible;
}
.null-value {
  position: relative;
  height: 100%;
  width: 7.5rem;
  overflow: hidden;
  margin: 0 auto;
}
.null-value .null-img {
  position: absolute;
  top: 3.72rem;
  background: url(../images/null-value.png) no-repeat center center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
  left: 50%;
  margin-left: -1.3rem;
  z-index: 100;
}
.null-value .null-text {
  position: absolute;
  width: 7.5rem;
  text-align: center;
  top: 6.75rem;
  font-size: .32rem;
  color: #969696;
  z-index: 100;
}
.activity-default {
  position: relative;
  height: 100%;
  width: 7.5rem;
  overflow: hidden;
  margin: 0 auto;
}
.activity-default .default-img {
  position: absolute;
  top: 3.66rem;
  background: url(../images/activity-default.png) no-repeat center center;
  background-size: 100%;
  width: 2.2rem;
  height: 2.2rem;
  left: 50%;
  margin-left: -1.1rem;
  z-index: 100;
}
.activity-default .default-text {
  position: absolute;
  width: 7.5rem;
  text-align: center;
  top: 6.38rem;
  font-size: .3rem;
  color: #969696;
  z-index: 100;
}
.all-load {
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
  border-radius: 4px;
  opacity: .6;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000;
  text-align: center;
  display: none;
  z-index: 111111;
}
.all-load img {
  position: absolute;
  top: .2rem;
  left: .4rem;
  display: inline-block;
  z-index: 111112;
  width: .8rem;
  height: .8rem;
}
.all-load .loading {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: .28rem;
  color: #fff;
}
.topnav {
  position: relative;
  margin: 0 auto;
  width: 7.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.topnav .topnav-item {
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.topnav .topnav-item .topnav-item-header {
  font-size: .3rem;
  color: #323232;
  height: .7rem;
  line-height: .7rem;
  background-color: #f8f8f8;
  padding-left: .3rem;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.topnav .topnav-item.fixed .topnav-item-header {
  position: fixed;
  top: 0;
}
.topnav .topnav-item.bottom .topnav-item-header {
  position: absolute;
  bottom: 0;
}
.topnav .topnav-item .topnav-item-body {
  font-size: .3rem;
}
